/* Default version*/
@font-face {
    font-family: 'Netflix Sans';
    src: url('../fonts/Netflix\ Sans\ Light.otf');
    src: local('Netflix Sans'),
        local('Netflix-Sans'),
        url('../fonts/Netflix\ Sans\ Light.otf') format('opentype');
}

/* Bold version */
@font-face {
    font-family: 'Netflix Sans';
    src: url('../fonts/Netflix\ Sans\ Bold.otf');
    src: local('Netflix Sans'),
        local('Netflix-Sans'),
        url('../fonts/Netflix\ Sans\ Bold.otf') format('opentype');
    font-weight: bold;
}

/* Global*/

html {
    font-size: 1rem;
}

body {
    color: white;
    font-family: 'Netflix Sans';
    font-weight: lighter;
    background-color: #000000;
}

a {
    color: white;
    text-decoration: none;
}


button {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    padding: 10px;
    background-color: #e50914;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
}

li {
    list-style: none;
    text-decoration: none;
}

.language {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 0px;
    cursor: pointer;
}

h1 {
    color: #ffffff;
    font-size: 4rem;
    text-align: center;
}

/* header*/
header {
    background-color: #000000;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5em;
}

header img {
    width: 268px;
    height: 123px;
    margin-left: 20px;
}


header button {
    cursor: default;
    margin-right: 20px;
}

/* Main*/
main {
    background-color: #000000;
    margin-bottom: 1.5em;
}

main>h1 {
    font-size: 4.7rem;
    margin-bottom: 1em;
}

main > button {
    display: none;
    margin: 0 auto;
    padding: 2rem 3rem;
    font-size: 1.8rem;
}
/* product data*/
.product-data {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    gap: 1.5em;
    /* color:  #221f1f; */
    color: #fff;
    text-transform: capitalize;
    font-weight: lighter;
    margin-bottom: 2em;
}

.card {
    background: #000;
    flex: 0 1 32%;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 2em;
    text-align: start;
    letter-spacing: 1.5px;
    word-spacing: 2px;
}

.card:hover {
    transform: scale(1.02);
}

.product-data h2 {
    font-size: 1.2rem;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.65);
}

.product-data h3 {
    font-weight: lighter;
    font-size: 1.4rem;
    margin-bottom: 15px;
}

.product-data p {
    font-weight: bold;
    font-size: 1.5rem;
}

.card-image {
    /* height: 150px; */
    /* margin-bottom: 10px; */
    /* background-size: auto; */
    border-radius: 5px;

    width: 100%;
    height: auto;
    object-fit: fill;
    aspect-ratio: 1 / 1;
    margin-bottom: 1.5em;
}


/* footer*/
footer {
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #221f1f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer * {
    color: #737373;
    padding-top: 0.8em;
}


footer ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
}

footer ul>* {
    flex-basis: 25%;
    /* font-size: 13px; */
}

footer button {
    align-self: center;
    color: #999999;
    font-size: 16px;
    font-weight: bold;
}

footer p {
    align-self: center;
    font-size: 16px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222222;
    z-index: 1;
    width: 70px;
}

.dropdown-content a {
    color: white;
    display: block;
    padding: 10px 10px;
    text-decoration: none;
}

.show {
    display: block;
}



@media (max-width: 950px) {
    html {
        font-size: 0.9rem;
    }
}

@media (max-width: 520px) {
    html {
        font-size: 0.7rem;
    }

    header img {
        width: 116px;
        height: 55px;
    }

    header button {
        font-size: 0.9rem;
    }
}



/* Loader */
.loader {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
    animation: animate 2s linear infinite;
}

.loader::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    bottom: 6px;
    right: 6px;
    background: #000;
    border-radius: 50%;
    z-index: 1000;
}

.loader::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background: linear-gradient(45deg, transparent, transparent 40%, #e5f403);
    border-radius: 50%;
    filter: blur(60px);
    z-index: 1;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
        filter: hue-rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        filter: hue-rotate(360deg);
    }
}