/* Default version*/
@font-face {
    font-family: 'Netflix Sans';
    src: url('../fonts/Netflix\ Sans\ Light.otf');
    src: local('Netflix Sans'),
         local('Netflix-Sans'),
         url('../fonts/Netflix\ Sans\ Light.otf')
         format('opentype');
}

/* Bold version */
@font-face {
    font-family: 'Netflix Sans';
    src: url('../fonts/Netflix\ Sans\ Bold.otf');
    src: local('Netflix Sans'),
         local('Netflix-Sans'),
         url('../fonts/Netflix\ Sans\ Bold.otf')
         format('opentype');
    font-weight: bold;
}


/*global*/

body {
    font-family: 'Netflix Sans';
    color: white;
    /* text-align: center; */
}
h1, h2, h3, p, button, input, a, li {
    text-align: center;
}
img {
    height: 200px;
    width: 200px;
}

button {
    color: white;
    font: 16px;
    background-color: #e50914;
    padding: 10px;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

h1 {
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: #737373;
}

li {
    list-style: none;
}

/* Desktop version*/

.horizontal-line {
    height: 13px;
    background-color: #222222;
}

/* main*/
main {
    background-image: url('../images/intro-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}
/*header*/
.dropdown {
    position: relative;
}
.language {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 0px;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222222;
    z-index: 1;
    width: 70px;
}
.dropdown-content a{
    color: white;
    display: block;
    padding: 10px 10px;
    text-decoration: none;
}

.show {
    display: block;
}


.logo {
    object-fit: cover;
    width: 242px;
    height: 105px;
}

.image-logo {
    flex-grow: 1;
}

.header {
    display: flex;
    /* width: 100vw; */
    justify-content: space-around;
    /* margin-top: 1.5em; */
    /* background-color: pink; */
    align-items: center;
    gap: 2%;
    margin-right: 2em;
}

/* main-content*/

.main-detail {
    flex-grow: 1;
}
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main-content h1{
    font-weight: bold;
    font-size: 64px;
}
.main-content h2 {
    font-size: 26px;
    font-weight: bold;
}
.main-content h3 {
    font-size: 19.2px;
    font-weight: bold;
}

.cta-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.cta-main input, .cta input {
    width: 40vw;
    height: 10vh;
}
.cta-main button, .cta button {
    font-weight: bold;
    font-size: 30px;
    width: 20vw;
    height: 10vh;
}

/* Features section*/

/* General section one*/
.section-div {
    height: 70vh;
    background-color: black;
    display: flex;
    align-items: center;
}

.section-content h1{
    font-size: 50px;
    font-weight: bold;
}

.section-content h2 {
    font-size: 25px;
    font-weight: lighter;
}

.section-div > * {
    flex: 1;
}

/* TODO: check this out later when done with mobile view*/

.section-image {
    /* position: relative;
    padding-top: 56.25%;  */

}


/* .section-content {
    flex-shrink: 1;
} */

/*section one*/
.section-one div img {
    width: 640px;
    height: 480px;
}


/* section two*/
.section-two div img {
    width: 640px;
    height: 480px;
    
}


/* section three*/
.section-three div img {
    width: 640px;
    height: 480px;
}

/* section four*/
.section-four div img {
    width: 640px;
    height: 480px;
}

/* FAQ*/

.faq {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 120vh;
    justify-content: space-evenly;
    align-items: center;
    gap: 2%;
}

.faq .faq-list {
    height: 65%;
    /* background-color: pink; */
}

.faq h1 {
    /* height: 6%; */
    /* background-color: red; */
}
.faq .cta {
    height: 25%;
    /* background-color: green; */
}

.faq .faq-list {
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
}
.faq-list {
    width: 60%;
}

.faq .faq-list > * {
    flex: 1;
    text-align: left;
    background-color: #303030;
    border: none;
    margin-bottom: 10px;
    cursor: pointer;
}

.faq-list button:nth-last-child(1) {
    margin-bottom: 0;
}

.faq h1 {
    font-size: 50px;
    font-weight: bold;
}

.faq-list > *{
    font-size: 26px;
    font-weight: lighter;
}

.faq .cta p{
    font-size: 19.2px;
}
.faq .cta input {
    font-size: 16px;
}
.faq .cta button {
    font-size: 30px;
    font-weight: bold;
}

/* footer*/
footer {
    background-color: black;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #737373;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    color: #737373;
}

footer ul > * {
    flex-basis: 25%;
    color: #737373;
    font-size: 13px;
}

footer button {
    align-self: center;
    color: #999999;
    font-size: 16px;
    font-weight: bold;
}

footer p{
    align-self: center;
    font-size: 16px;
}

/* Tablet version*/
@media (max-width: 949px) {
    /* header*/
    .logo {
        width: 150px;
        height: 70px;
    }

    .cta-main {
        /* display: flex; */
        flex-direction: column;
        align-items: center;
    }
    main {
        height: 80vw;
    }
    .cta-main input, .cta input, .cta button {
        width: 60vw;
        height: 12vh;
    }
    .cta-main button {
        font-weight: lighter;
        font-size: 16px;
        width: 15vw;
        height: 15vh;
    }
    /*Features section*/

    .section-one, .section-three  {
        flex-direction: column;
    }

    .section-two, .section-four {
        flex-direction: column-reverse;
    }

    .section-div {
        height: 160vh;
    }

    .section-one div img, 
    .section-two div img, 
    .section-three div img,
    .section-four div img {
        width: 600px;
        height: 330px;
    }

    /* FAQ section*/
    .faq {
        height: 200vh;
    }
    .faq .faq-list {
        width: 80%;
        /* background-color: pink; */
    }
    .faq .faq-list div {
        font-size: 26px;
    }
    .faq .cta {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    /* Footer*/
    footer {
        height: 100vh;
    }
    footer ul > * {
        flex-basis: 33%;
    }

    .language {
        border-width: 2px;
        padding-left: 20px;
        padding-right: 20px;
    }

}   


/* Mobile version*/
@media (max-width: 429px) {
    button {
        font-size: 14.4px;
    }
    /* header*/
    .logo {
        width: 116px;
        height: 55px;
    }
    
    main {
        height: 509.3px;
    }
    .main-detail h1{
        font-size: 28px;
    }
    .main-detail h2, .main-detail h3 {
        font-size: 18px;
    }
    .cta-main input, .cta input {
        width: 80vw;
        height: 5vh;
    }
    .cta-main button, .cta button {
        font-weight: lighter;
        font-size: 16px;
        width: 20vw;
        height: 8vh;
    }
    /* Features section*/

    .section-content h1{
        font-size: 26px;
        margin-top: 10%;
    }
    .section-content h2 {
        font-size: 18px;
    }
    .section-div {
        height: 70vh;
        align-items: center;
    }
 
    .section-one div img, 
    .section-two div img, 
    .section-three div img,
    .section-four div img {
        width: 385px;
        height: 288px;
    }

    /* FAQ section*/
    .faq {
        height: 100vh;
    }

    .faq h1 {
        font-size: 26px;
    }

    .faq-list button {
        font-size: 18px;
    }
    .faq .faq-list {
        width: 100%;
    }
    .faq .cta p {
        font-size: 18px;
    }
    .faq .cta input {
        font-size: 16px;
    }
    .faq .cta button {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .faq .faq-list div {
        font-size: 16px;
    }
    /* Footer*/

    footer {
        height: 68vh;
    }
    footer ul > * {
        flex-basis: 50%;
    }
    

}
