/* Default version*/
@font-face {
    font-family: 'Netflix Sans';
    src: url('../fonts/Netflix\ Sans\ Light.otf');
    src: local('Netflix Sans'),
         local('Netflix-Sans'),
         url('../fonts/Netflix\ Sans\ Light.otf')
         format('opentype');
}

/* Bold version */
@font-face {
    font-family: 'Netflix Sans';
    src: url('../fonts/Netflix\ Sans\ Bold.otf');
    src: local('Netflix Sans'),
         local('Netflix-Sans'),
         url('../fonts/Netflix\ Sans\ Bold.otf')
         format('opentype');
    font-weight: bold;
}

/* Global*/

html {
    font-size: 1rem;
}

body {
    color: white;
    font-family: 'Netflix Sans';
    font-weight: lighter;
    background-color: #000000;
}

a {
    color: white;
    text-decoration: none;
}


button {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    padding: 10px;
    background-color: #e50914;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
}


h1 {
    color: #ffffff;
    font-size: 4rem;
}

/* header*/
header {
    background-color: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1.5em;
}

header img {
    width: 268px;
    height: 123px;
}


header button {
    cursor: default;
}

/* Main*/
main {
    background-color: #000000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


h1 {
    font-size: 4.7rem;
    margin-bottom: 4.7rem;
}

p {
    margin-bottom: 4.7rem;
    font-size: 1.5rem;
}

button {
    padding: 2rem 3rem;
    font-size: 1.8rem;
}

@media (max-width: 950px) {
    
}

@media (max-width: 450px) {
    html {
        font-size: 0.7rem;
    }
}



