/* Default version*/
@font-face {
    font-family: 'Netflix Sans';
    src: url('../fonts/Netflix\ Sans\ Light.otf');
    src: local('Netflix Sans'),
         local('Netflix-Sans'),
         url('../fonts/Netflix\ Sans\ Light.otf')
         format('opentype');
}

/* Bold version */
@font-face {
    font-family: 'Netflix Sans';
    src: url('../fonts/Netflix\ Sans\ Bold.otf');
    src: local('Netflix Sans'),
         local('Netflix-Sans'),
         url('../fonts/Netflix\ Sans\ Bold.otf')
         format('opentype');
    font-weight: bold;
}

/* Global */
:root {
    accent-color: #333333;

}
html {
    font-size: 1rem;
}

body {
    color: white;
    background-color: #333;
    background-image: url('../images/intro-background.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    font-family: 'Netflix Sans';
    font-weight: lighter;
}

a {
    color: white;
    text-decoration: none;
}

button {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-radius: 6px;
    padding: 10px;
    background-color: #e50914;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
}
li {
    list-style: none;
    text-decoration: none;
}
.language {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 0px;
    cursor: pointer;
}
/* header*/
header {
    padding-left: 2em;
}
header img {
    width: 268px;
    height: 123px;
}
input{
    min-height: 3.5em;
    background-color: #333333;
    border: none;
    border-radius: 8px;
    padding: 1em;
}
input[placeholder] {
    color: #fff;
}
#tos{
    min-height: 0;
}

/* main*/
.container{
    /* width: 600px; */
    max-width: 1038px;
    margin: 0 auto;
    background-color: rgba(6, 6, 4, 0.8);
    min-height: 840px;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 5em;
}
.container h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: bold;
}
.container h1, #invalid {
    text-align: center;
}

.invalid {
    color: #E87C03;
    font-size: 0.90rem;
    margin-top: -0.5em; 
}
#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    gap: 0.6em;
}

#form > *{
    /* width: 50%; */
    width: 74%;
}

.tos-link {
    font-weight: bold;
    font-size: 1.1rem;
}

.submit {
    margin-top: 1em;
}

/* footer*/
footer {
    padding-top: 2em;
    background-color: rgba(6, 6, 4, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer *{
    color: #737373;
    padding-top: 0.8em;
}


footer ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
}

footer ul > * {
    flex-basis: 25%;
    /* font-size: 13px; */
}

footer button {
    align-self: center;
    color: #999999;
    font-size: 16px;
    font-weight: bold;
}

footer p{
    align-self: center;
    font-size: 16px;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222222;
    z-index: 1;
    width: 70px;
}
.dropdown-content a{
    color: white;
    display: block;
    padding: 10px 10px;
    text-decoration: none;
}
.show {
    display: block;
}
@media (max-width: 950px) {
    body {
        background-image: none;
        background-color: #000000;
    }
    .container {
        width: 100%;
    }
    #form > *{
        width: 90%;
    }
    
    footer {
        border-top: 8px solid #4b4b4b;
    }
    footer ul > * {
        flex-basis: 33%;
        /* font-size: 13px; */
    }
}

@media (max-width: 450px) {
    header img {
        width: 116px;
        height: 55px;
    }
}